@import "tailwindcss";

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --color-brand-blue: #2148C0;
}

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
  
  body {
    font-family: var(--font-montserrat);
    @apply antialiased;
  }
}